<footer>
    <div class="row">
        <div class="column">
            <span>Development is sponsored by</span>
            <a class="logo" href="https://www.redhat.com/"></a>
        </div>
        <div class="column">
            <a href="http://www.redhat.com/legal/legal_statement.html">Terms of use</a> -
            <a href="http://www.redhat.com/legal/privacy_statement.html">Terms and Conditions</a>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <span>© Copyright 2006 - {{ now.Year }}, Red Hat, Inc. or third-party contributors</span>
        </div>
    </div>
</footer>