<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/assets/main.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PTSerif%3A400%2C700%2C900%2C400italic%2C700italic%2C900italic%7COverpass%3A400%2C700%2C900%2C400italic%2C700italic%2C900italic&amp;subset=latin%2Clatin-ext" type="text/css" media="all">
    <title>{{ .Title }}</title>
    <link rel="icon" href="/images/favicon.ico">
    <script type="text/javascript" src="/assets/bundle.js" defer></script>
</head>